<div class="nested-fields">
  <%= f.input :user_id, :required => false do %>
    <%= f.input_field :user_id, :collection => User.all %>
    <%= link_to_remove_association t("helpers.remove_assignment"), f, :class => "btn btn-small btn-danger" %>
  <% end %>  
</div>
