<div class="nested-fields">
  <%= f.input :deputy_id, :collection => User.in_company(current_company.id), :required => false %>
  <%= link_to_remove_association t("helpers.remove_deputy"), f, :render_options => {:wrapper => 'bootstrap'} %>
  <%= f.hidden_field :company_id, value: current_company.id %>
</div>
