<div class="nested-fields">
  <div class="row-fluid">
    <div class="span4">
      <%= f.input :function_id, :collection => Function.where(:company_id => current_company.id), :required => false %>
    </div>
    <div class="span8">
      <%= link_to_remove_association t("helpers.remove_user_function_assignment"), f, :class => "controls btn btn-small btn-danger" %>
    </div>
  </div>
  <%= f.hidden_field :company_id, value: current_company.id %>
</div>
